        {%- comment -%} Wishlist Button {%- endcomment -%}
        <button 
          type="button"
          class="wishlist-btn" 
          data-product-id="{{ card_product.id }}"
          aria-label="Add {{ card_product.title | escape }} to wishlist"
          onclick="toggleWishlist(this, {{ card_product.id }})"
        >
          <svg class="wishlist-icon-outline" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
          </svg>
          <svg class="wishlist-icon-filled" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
          </svg>
        </button>